.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.text {
    font-family: Open Sans;
    font-size: 31px;
    font-style: normal;
    font-weight: 300px;
    line-height: 120%;
    color: var(--text-color);
}